/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body {
	background: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

/* Slide Up */
.slide-up-enter {
	position: absolute;
	width: 100%;
	transform: translate3d(0, 100%, 0);
}

.slide-up-enter.slide-up-enter-active {
	position: absolute;
	width: 100%;
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s linear;
}

.slide-up-leave {
	position: absolute;
	width: 100%;
	transform: translate3d(0, 0, 0);
}

.slide-up-leave.slide-up-leave-active {
	position: absolute;
	width: 100%;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.5s linear;
}

/* Slide Down */
.slide-down-enter {
	position: absolute;
	width: 100%;
	transform: translate3d(0, -100%, 0);
}

.slide-down-enter.slide-down-enter-active {
	position: absolute;
	width: 100%;
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s linear;
}

.slide-down-leave {
	position: absolute;
	width: 100%;
	transform: translate3d(0, 0, 0);
}

.slide-down-leave.slide-down-leave-active {
	position: absolute;
	width: 100%;
	transform: translate3d(0, 100%, 0);
	transition: transform 0.5s linear;
}

/* Fade In */
.fade-enter {
	position: absolute;
	width: 100%;
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	position: absolute;
	width: 100%;
	opacity: 1;
	transition: opacity 0.2s linear;
}

.fade-leave {
	position: absolute;
	width: 100%;
	opacity: 1;
}

.fade-leave.fade-leave-active {
	position: absolute;
	width: 100%;
	opacity: 0.01;
	transition: opacity 0.2s linear;
}