.header{
	width: 98%;
	height: 80px;
	border: 2px solid gray;
	border-radius: 5px;
	background: silver;
	margin: auto;
	margin-top: 10px;
	text-align: right;
	position: relative;
}

.headerButton{
	position: relative;
	top: 20px;
	right: 20px;
}