@import url('https://fonts.googleapis.com/css?family=Raleway');

.login {
 	margin: auto;
	width: 100%;
	/*background: -webkit-gradient(linear, left bottom, right bottom, from(#43C6AC), to(#F8FFAE));
  background: -webkit-linear-gradient(top, #43C6AC,#F8FFAE);*/
  background-color: #e0d979;
	padding: 2em;
	padding-top: 3em;
	text-align: center;
	font-weight: lighter;
	font-family: "Raleway", sans-serif;
	position: relative;
	height: 100%;
}

.input {
	width: 60%;
	margin: auto;
	align-items: center;
	-webkit-box-align: center;
	position:relative;
	left: 20%;
}

.robot {
	left: 30%;
  position: relative;
  transform: translateX(-50%);
};